/* 
-Font Size System (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font Weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Archivo", "Bitter";
  /* letter-spacing: 1.1px; */
  font-weight: 400;
  color: #333;
  background-color: #e6e6e6;
}

/****** HEADER ******/
.header {
  height: 85vh;
  background-color: #087f5b;
  min-width: 150rem;
  /* max-width: 120rem; */
}

.header-container {
  width: 120rem;
}

.header-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 8rem;
  width: 75rem;
}

.logo {
  width: 65rem;
  /* padding-bottom: -2rem; */
}

.header-title {
  padding-bottom: 5rem;
}

.header-title a {
  font-size: 3rem;
  color: #f6f6f6;
  text-decoration: none;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  /* margin-top: ; */
}

/* CTA-HEADER */
.cta-form-box {
  background-color: #353535;
  padding: 3rem;
  width: 70rem;
  margin: 0 auto;
  align-items: center;
  margin-top: -20rem;
}

.box-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
  row-gap: 2.4rem;
  box-shadow: 0px 0px 15px 0px #000000;
  font-size: 1.8rem;
  color: #333;
  border: none;
  border-radius: 9px;
  padding-left: 5rem;
}

.cta-form-box label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
}

.cta-form-box input,
.cta-form-box select {
  width: 25rem;
  height: 5rem;
  font-size: 1.8rem;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rbga(0, 0, 0, 0.1);
}

.cta-form-box input::placeholder {
  color: #aaa;
}

.cta-btn-header {
  width: 25rem;
  height: 10rem;
}

/****** GESTION PARASITAIRE ******/
.section-gestion-parasitaire {
  /* padding-top: 5rem; */
  padding: 5rem 10rem 0 10rem;
  /* color: #e6e6e6; */
  min-width: 150rem;
}

.container-gestion {
  margin: 0 auto;
  width: 110rem;
  max-width: 110rem;
}

.section-title {
  margin-top: 10rem;
}

.gestion-parasitaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10rem;
  row-gap: 2rem;
  margin-top: 5rem;
}

.gestion-title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 2.4rem;
}

.gestion-text {
  width: 50rem;
  padding-left: 5rem;
}

.gestion-text p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.gestion-btn {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-content: center;
  align-items: center;
}

.gestion-img-box {
}

.gestion-img {
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
  transition: all 0.4s;
  width: 50rem;
  box-shadow: 0px 0px 15px 0px #000000;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 2rem;
}

.gestion-img:hover {
  transform: scale(1.05);
}

.gestion-icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2rem;
  grid-column: 1 / 3;
  margin-top: 3rem;
}

.icons-box {
  height: 10rem;
  text-align: center;
  transition: all 0.4s;
}

.icons-box:hover {
  transform: scale(1.1);
}

.icon-gestion {
  height: 5rem;
  width: 5rem;
  padding: 1.2rem;
  border-radius: 50rem;
  color: #007f46;
}

.gestion-icon-title {
  font-size: 1.6rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* RONGEURS */
.rongeurs {
  padding: 3rem;
  border-radius: 2rem;
  margin: 0 auto;
}

.rongeurs-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.rongeurs-img-block {
  border-radius: 2rem;
}

.rongeurs-img {
  position: relative;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
  margin-right: 3rem;
}

.rongeurs-img img {
  width: 45rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px 0px #000000;
  transition: all 0.4s;
}

.rongeurs-img img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 2rem;
}

.rongeurs-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -85%);
  font-size: 4rem;
  font-weight: 700;
}

.rongeurs-text {
  font-size: 1.8rem;
  line-height: 1.7;
  width: 50rem;
}

.rongeurs-icons {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 110rem;
}

.rongeurs-icon {
  height: 7rem;
  width: auto;
  background-color: #990000;
  display: block;
  border-radius: 100rem;
  color: #fff;
  padding: 1.5rem;
}

.icon-inner,
.ionicon,
svg {
  color: #007f46;
}

.rongeurs-label {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

.rongeurs-box-icon {
  transition: all 0.4s;
}

.rongeurs-box-icon:hover {
  transform: scale(1.1);
}

/****** CONTROLE DE LA FAUNE ******/
.section-faune {
  background-color: #007f46;
  padding: 10rem;
  color: #e6e6e6;
  min-width: 150rem;
}

.container-faune {
  max-width: 110rem;
  margin: 0 auto;
}

.controle-de-la-faune {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
}

.faunes-img {
  display: flex;
  width: 100rem;
  gap: 3rem;
  margin: 0 auto;
  justify-content: space-evenly;
}

.faune-img {
  margin-top: 5rem;
  position: relative;
  transition: all 0.4s;
}

.faune-img:hover {
  transform: scale(1.1);
}

.faune-img img {
  width: 25rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px 0px #000000;
  transition: all 0.4s;
}

.faune-img-main img {
  width: 50rem;
  box-shadow: 0px 0px 15px 0px #000000;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 2rem;
}

.faune-img-main img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.faunes-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 600;
}

.faune-label {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
  color: #fff;
}

.description-3 {
  color: #e6e6e6;
}

.faune-img-main {
  margin-top: 7rem;
}

/****** FEATURES ******/
.section-features {
  /* margin-top: 7rem; */
  padding: 10rem;
  min-width: 150rem;
}

.container-features {
  max-width: 110rem;
  margin: 0 auto;
}

.features-box {
  display: flex;
  justify-content: space-evenly;
}

.features-icon {
  display: flex;
  flex-direction: column;
}

.icon {
  height: 7rem;
  width: 7rem;
  color: #007f46;
}

.icon-inner {
  height: 7rem;
  width: 7rem;
  color: #007f46;
}

.features-icons {
  display: flex;
  margin-left: 25rem;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 40rem;
  align-items: center;
  margin-top: 1.2rem;
}

.features-icon-box {
}

.features-text span {
  font-size: 1.7rem;
  color: #444;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
}

.features-img {
  width: 50rem;
  box-shadow: 0px 0px 15px 0px #000000;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 2rem;
  margin-bottom: 10rem;
  margin-right: 20rem;
}

.features-img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.services-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3.2rem;
  margin: 0 auto;
  position: relative;
  column-gap: 5rem;
}

.box-icon {
  display: block;
  height: 12rem;
  width: 12rem;
  color: #fff;
  background-color: #990000;
  border-radius: 100px;
  padding: 3rem 3rem;
  margin-bottom: 1.3rem;
  overflow: hidden;
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
}

.box-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #e6e6e6;
  font-weight: 600;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
  font-size: 3.8rem;
  transition: all 0.4s;
  background-color: #353535;
  border-radius: 4rem;
  padding: 2rem;
  box-shadow: 0px 0px 15px 0px #000000;
}

.services-box:hover {
  transform: scale(1.05);
}

.box-separator {
  width: 24rem;
  background-color: #007f46;
  height: 0.25rem;
  margin: 0 auto;
  margin-bottom: 1.3rem;
}

.map {
  width: 75rem;
}

/****** REGIONS ******/
.section-regions {
  /* padding-top: 10rem; */
  padding: 0 10rem 10rem 10rem;
  /* color: #e6e6e6; */
  min-width: 150rem;
}

.container-regions {
  max-width: 110rem;
  margin: 0 auto;
}

.regions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  column-gap: 10rem;
  margin: 5rem 0 0 -5rem;
}

.accordion-box {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-title-2 {
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25;
}

.regions-img-block {
  margin-right: 30rem;
}

.regions-img-block img {
  width: 75rem;
}
/* ACCORDION */
.accordion {
  max-width: 30rem;
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.accordion-item {
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #353535;
  cursor: pointer;
  height: 7rem;
  border-top: 3px solid #990000;
  color: #fff;
  border-radius: 2rem;
  width: 35rem;
}

.accordion-header:hover {
  background-color: #222;
}

.accordion-header h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 1rem;
}

.accordion-button {
  border: none;
  background: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 2rem 3rem 2rem 5rem;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 3rem;
  display: none;
  width: 35rem;
  transition: max-height 1s ease-out;
}

.accordion-content--expanded {
  max-height: 100vh;
  display: inline-block;
  position: relative;
  border-radius: 2rem;
  margin-top: -3rem;
  z-index: -1;
  transition: max-height 0.9s ease-in;
}

.accordion-item[aria-expanded="true"] .accordion-content {
  max-height: 100vh;
  transition: max-height 0.9s ease-in;
}

.accordion-content--expanded ul {
  margin-top: 2.5rem;
}

.accordion-content p {
  margin: 0;
  padding: 10px 0;
}

/****** TESTIMONIALS ******/
.section-testimonials {
  /* padding-top: 5rem; */
  padding: 0 10rem 10rem 10rem;
  min-width: 150rem;
}

.testimonials-container {
  max-width: 110rem;
  margin: 0 auto;
}

.col-center {
  float: none !important;
  background: #fff;
  border-radius: 2rem;
  height: 40rem;
  box-shadow: 0px 0px 15px 0px #000000;
  max-width: 75rem;
}

.carousel {
  margin: 5rem auto;
  padding: 0 70px;
}

.carousel-item {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  margin-top: -1rem;
  font-weight: 500;
}

.overview {
  margin: -2rem auto 2.5rem auto;
}

.carousel .overview b {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #007f46;
}

.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: #990000;
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.person-icon {
  height: 10rem;
  width: 10rem;
}

.box-stars {
  padding: 2.5rem auto 5rem auto;
}

.box-stars .stars {
  color: #ffdc19;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2rem auto 2rem auto;
}

.testimonial-service {
  font-size: 1.6rem;
}

.testimonial-service b {
  text-transform: uppercase;
}
/****** CTA-FOOTER ******/
.section-cta-footer {
  padding-top: 10rem;
  min-width: 150rem;
  background-color: #990000;
}

.container-footer {
  height: 35rem;
  display: flex;
  align-items: center;
  gap: 10rem;
  max-width: 135rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  justify-content: space-evenly;
}

.appelez-nous {
  height: 35rem;
  width: 52.5rem;
  background-color: #353535;
  color: #e6e6e6;
  margin: 5rem auto 5rem auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 15px 0px #000000;
}

.cta-btn {
  position: relative;
  margin: 2rem auto 0 auto;
}

.appelez-nous-title {
  font-size: 3rem;
  margin: 3rem auto 0 auto;
  color: #fff;
  text-transform: uppercase;
}

.appelez-nous-text {
  font-size: 1.7rem;
  padding: 2rem;
  color: #e6e6e6;
  margin: 2rem auto 0 2rem;
}

.phone-number {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1.5rem auto 0 auto;
}

.box-footer {
  width: 65rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
  row-gap: 2.4rem;
  box-shadow: 0px 0px 15px 0px #000000;
  font-size: 1.8rem;
  color: #333;
  border: none;
  border-radius: 9px;
  margin: 5rem auto;
  position: relative;
}

/****** FOOTER ******/
.footer {
  /* max-width: 110rem; */
  height: 5rem;
  background-color: #353535;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40rem;
  padding: 1.2rem;
  min-width: 150rem;
}

.copyright {
  color: #fff;
  letter-spacing: 0.5;
  margin: 0.5rem auto 0.5rem auto;
}

.copyright-text {
  margin: 1rem auto 1rem auto;
  font-size: 1.3rem;
}

.copyright-name {
  color: #ffffff;
  margin: 0.5rem auto;
}

.copyright-name-text {
  margin: 1rem auto 1rem auto;
  font-size: 1.3rem;
}

.copyright-name-text a {
  text-decoration: none;
  color: #fff;
}

.name {
  text-transform: uppercase;
  font-size: 1rem;
}

/* ***** GENERAL ****** */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #cc0000;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 9.6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  color: #fff;
  border: 1px solid #e6e6e6;
}

.btn:hover,
.btn:active {
  background-color: #a31a1a;
  border: 1px solid #e6e6e6;
}

.btn-green,
.btn-green:link,
.btn-green:visited {
  display: inline-block;
  background-color: #00723f;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 9.6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  color: #fff;
  border: 1px solid #e6e6e6;
}

.btn-green:hover,
.btn-green:active {
  background-color: #005931;
  border: 1px solid #e6e6e6;
}

.section-title {
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.separator {
  width: 65rem;
  background-color: #990000;
  border-radius: 3px;
  height: 0.5rem;
  margin: 1rem auto;
}

.description-2 {
  width: 50rem;
}

.description-3 {
  width: 50rem;
  /* margin-left: 10rem; */
}

.call-us {
  display: inline-block;
  background-color: #cc0000;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border-radius: 100rem;
}

.call-us:hover,
.call-us:active {
  color: #fff;
  background-color: #990000;
}

.call-us-btn {
  width: 3rem;
  height: 3rem;
}

/* EXTRA */
